/* Hamburger */

.burger-btn {
  width: 60px;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(10, 15, 20);
  border-radius: 200px;
  cursor: pointer;
  position: relative;
  transition-duration: 0.2s;
}

/*  */

.burger-btn div,
.burger-btn div::before,
.burger-btn div::after {
  width: 50%;
  height: 4px;
  background-color: white;
  transition: all 0.2s ease;
  border-radius: 200px;
  pointer-events: none;
}

.burger-btn div::before,
.burger-btn div::after {
  content: "";
  transform: translateY(-12px);
  position: absolute;
}

.burger-btn div::after {
  transform: translateY(12px);
}

/*  */

.burger-btn:hover {
  background: rgba(10, 15, 20, 0.6);
}

.burger-btn:hover div::before {
  transform: translateY(-16px);
}

.burger-btn:hover div::after {
  transform: translateY(16px);
}

/*  */

.burger-btn.open div {
  animation: burgerbtnopen 0.8s forwards;
}

.burger-btn.open div::before {
  animation: burgerbtnopenbefore 0.8s forwards;
}

.burger-btn.open div::after {
  animation: burgerbtnopenafter 0.8s forwards;
}

/*  */

.burger-btn.close div {
  animation: burgerbtnclose 0.8s forwards;
}

.burger-btn.close div::before {
  animation: burgerbtnclosebefore 0.8s forwards;
}

.burger-btn.close div::after {
  animation: burgerbtncloseafter 0.8s forwards;
}

/*  */

/*  */

@keyframes burgerbtnopen {
  20% {
    visibility: hidden;
  }

  100% {
    visibility: hidden;
  }
}
@keyframes burgerbtnopenbefore {
  20% {
    transform: translateY(0px);
    transform: rotateZ(0deg);
    visibility: visible;
  }
  100% {
    transform: rotateZ(405deg);
    visibility: visible;
  }
}

@keyframes burgerbtnopenafter {
  20% {
    transform: translateY(0px);
    transform: rotateZ(0deg);
    visibility: visible;
  }
  100% {
    transform: rotateZ(495deg);
    visibility: visible;
  }
}

/*  */

@keyframes burgerbtnclose {
  0% {
    visibility: hidden;
  }
  80% {
    visibility: hidden;
  }
}

@keyframes burgerbtnclosebefore {
  0% {
    transform: translateY(0);
    transform: rotateZ(-405deg);
    visibility: visible;
  }
  80% {
    transform: translateY(0);
    transform: rotateZ(0);
    visibility: visible;
  }
  100% {
    transform: translateY(12);
  }
}

@keyframes burgerbtncloseafter {
  0% {
    transform: translateY(0);
    transform: rotateZ(-495deg);
    visibility: visible;
  }
  80% {
    transform: translateY(0);
    transform: rotateZ(0);
    visibility: visible;
  }
  100% {
    transform: translateY(12);
  }
}

/*  */
/*  */

.kvcdz3lpy3 {
  padding: 2px;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 4px;
  color: white;
  background-color: var(--green);
  font-weight: 700;
}

/*  */
/*  */

.solid-btn {
  display: inline-flex;
  flex-wrap: wrap;
  padding: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--green);
  border: 2px solid var(--green);
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 14px;
  font-weight: 900;
  text-transform: uppercase;
  cursor: pointer;
}

.solid-btn * {
  color: white;
}

.solid-btn.small,
.hollow-btn.small {
  font-size: 10px;
  padding: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  gap: 6px;
}

.solid-btn:disabled,
.solid-btn.disabled {
  cursor: not-allowed;
  background-color: rgba(150, 150, 150);
  border-color: rgba(150, 150, 150);
}

/*  */
/*  */

.hollow-btn {
  display: inline-flex;
  flex-wrap: wrap;
  padding: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 2px solid var(--green);
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 14px;
  font-weight: 900;
  text-transform: uppercase;
  cursor: pointer;
}

.hollow-btn:hover {
  background-color: var(--green);
}

.hollow-btn:hover * {
  color: white;
}

.solid-btn.blue {
  background-color: var(--blue);
  border-color: var(--blue);
}

.solid-btn.purple {
  background-color: var(--purple);
  border-color: var(--purple);
}

.solid-btn.orange {
  background-color: var(--orange);
  border-color: var(--orange);
}

.solid-btn.red {
  background-color: var(--red);
  border-color: var(--red);
}

.solid-btn.yellow {
  background-color: var(--yellow);
  border-color: var(--yellow);
}

/*  */
/*  */

.translate-top-2-hover {
  cursor: pointer;
}

.translate-top-2-hover:hover {
  transform: translateY(-2px);
}

.scale-hover-105pc {
  cursor: pointer;
}

.scale-hover-105pc:hover {
  transform: scale(105%);
}

.scale-hover-120pc {
  cursor: pointer;
}

.scale-hover-120pc:hover {
  transform: scale(120%);
}

/*  */

.badge-icon-container {
  cursor: pointer;
}

.badge-icon {
  position: relative;
  padding-right: 10px;
}

.badge-icon .badge {
  background-color: var(--red);
  height: 20px;
  aspect-ratio: 1/1;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(-50%);
}

.badge-icon .badge p {
  font-size: 10px;
  font-family: "attribute-mono", sans-serif;
  color: white;
}

.badge-icon-container:hover .badge {
  transform: translateY(-50%) scale(1.4);
}

.badge-icon .icon {
  font-size: 32px;
  color: var(--text-color-2);
}

/*  */

.badge-container {
  cursor: pointer;
  display: inline-flex;
}

.badge {
  background-color: var(--blue);
  height: 32px;
  aspect-ratio: 1/1;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
}

.badge p {
  font-size: 20px;
  font-family: "attribute-mono", sans-serif;
  color: white;
}

.badge-container:hover .badge {
  transform: scale(1.3);
}

/* Badge Size */

.badge.small {
  height: 20px;
}

.badge-container:hover .small {
  transform: scale(1.4);
}

.badge.small p {
  font-size: 10px;
}

/* Badge Color */

.badge.purple {
  background-color: var(--purple);
}

.badge.red {
  background-color: var(--red);
}

.badge.orange {
  background-color: var(--orange);
}

.badge.yellow {
  background-color: var(--yellow);
}

.badge.green {
  background-color: var(--green);
}

/*  */

.input-label {
  border-bottom: 2px solid var(--text-color-1);
  font-size: 20px;
  padding-top: 20px;
}

.input-label div {
  position: relative;
}

.input-label input {
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
  width: 100%;
}

.input-label label {
  position: absolute;
  pointer-events: none;
  top: 0;
  padding-left: 4px;
}

.input-label:focus-within label,
.input-label.focus-within label {
  transform: translateY(-100%);
  font-size: 16px;
}

.input-label.valid {
  border-color: var(--green);
}

.input-label.invalid {
  border-color: var(--red);
}
